body {
    background-color: #0f0;
}

#red {
    height: 50%;
    width: 50%;
    margin: 5% auto;
    padding: 5%;
    background-color: #f00;
}

div {
    width: 100%;
    height: 20%;
}

#blue, #white, #black {
    margin-top: 5%;
}

#gray{
    margin-top: -2.5%;
    background-color: #999;
}

#blue{
    background-color: #00f;
}

#white{
    background-color: #fff;
}

#black{
    background-color: #000;
}