body {
    background-color: #999;
}

#red {
    width: 50%;
    height: 50%;
    margin: 5% auto;
    padding: 5%;
    background-color: #f00;
}

div {
    width: 40%;
    height: 80%;
}

#blue {
    position: relative;
    top: 10%;
    background-color: #00f;
}

#green {
    position: relative;
    top: -70%;
    left: 60%;
    background-color: #0f0;
}